@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: headingFont;
  src: url(../FONTS/Jungle\ Kid.otf);
}

//Potrzebne zmiany na 1080pixeli

body {
  background: rgb(11, 13, 14);
  background: linear-gradient(339deg, rgba(11, 13, 14, 1) 13%, #524c54 100%);
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  font-family: headingFont;
  overflow-x: hidden;
  h3 {
    margin-bottom: 0rem;
  }
}

.main_container_flex_row {
  display: flex;
  .main_container_flex_row_form_col {
    border-radius: 10px;
    background-color: #006494;
    align-self: flex-start;
    color: #051923;
    .flex_row {
      width: 98%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  .main_container_flex_row_tasks_col {
    display: flex;
    background-color: #051923;

    border-radius: 10px;
    align-self: stretch;
    text-align: center;
    flex-direction: column;
    .dynamicEventsRow {
      color: #051923;
      background-color: #006494;
      width: 99%;
      align-self: flex-start;
      display: flex;
      box-sizing: border-box;
      svg {
        fill: #051923;
      }
    }

    // .dynamicEventsRow {
    //   flex: 1;
    //   align-self: flex-start;
    //   display: flex;
    //   align-items: stretch;
    //   flex-direction: column;
    //   border-radius: 2%;
    //   background-color: rgb(181, 175, 159);
    //   .item {
    //     flex: 1;
    //     font-size: 1rem;
    //     align-self: center;
    //     height: 32px;
    //     box-sizing: border-box;
    //   }
  }
}

// .row_task {
//   flex: 3;
//   align-self: stretch;
//   padding: 0%;
//   background-color: rgb(199, 186, 151);
// }

.nav {
  display: flex;
  justify-content: center;
  img {
    width: 30vw;
  }
  @media (max-width: 992px) {
    img {
      content: url(../images/icon.svg);
      width: 10vw;
    }
  }

  // .nav_img_app {
  //   img {
  //     @media (max-width: 992px) {
  //       content: url(../images/icon.svg);
  //       width: 7vh;
  //     }
  //     width: 25vw;
  //   }
  // }
}
