@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: headingFont;
  src: url(../FONTS/Jungle\ Kid.otf);
}

//Potrzebne zmiany na 1080pixeli

body {
  background: #1c1b22;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  font-family: headingFont;
  overflow-x: hidden;
  h3 {
    margin-bottom: 0rem;
  }
}

.main_container_flex_row {
  .main_container_flex_row_form_col {
    display: none;
    border-radius: 10px;
    background-color: #0c0c0d;
    color: #e6d5ec;

    .flex_row {
      width: 98%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      svg {
        fill: #e6d5ec;
      }
    }
  }
  .main_container_flex_row_tasks_col {
    display: flex;
    position: relative;
    padding-bottom: 5%;
    background-color: #0c0c0d;
    border-radius: 10px;
    align-self: stretch;
    text-align: center;
    flex-direction: column;

    .visual_row {
      display: flex;
      color: #e6d5ec;

      .dots {
        display: flex;
        justify-content: flex-end;
        padding-right: 3%;
        gap: 2%;
      }
      .visual_row_button_col {
        .btn {
          margin-top: 2%;
          color: #e6d5ec;
          background-color: #23222b;
          width: 100%;
        }
      }
    }

    .dynamicEventsRow {
      position: relative;
      top: 5%;
      color: #e6d5ec;
      background-color: #23222b;
      width: 99%;
      align-self: flex-start;
      display: flex;
      box-sizing: border-box;
    }

    // .dynamicEventsRow {
    //   flex: 1;
    //   align-self: flex-start;
    //   display: flex;
    //   align-items: stretch;
    //   flex-direction: column;
    //   border-radius: 2%;
    //   background-color: rgb(181, 175, 159);
    //   .item {
    //     flex: 1;
    //     font-size: 1rem;
    //     align-self: center;
    //     height: 32px;
    //     box-sizing: border-box;
    //   }
  }
}

// .row_task {
//   flex: 3;
//   align-self: stretch;
//   padding: 0%;
//   background-color: rgb(199, 186, 151);
// }

.nav {
  display: flex;
  justify-content: center;
  img {
    width: 30vw;
  }
  @media (max-width: 992px) {
    img {
      content: url(../images/icon.svg);
      width: 10vw;
    }
  }

  // .nav_img_app {
  //   img {
  //     @media (max-width: 992px) {
  //       content: url(../images/icon.svg);
  //       width: 7vh;
  //     }
  //     width: 25vw;
  //   }
  // }
}
